<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home Page</title>
    </head>
    <body>
        {{> header}} {{!--it will call parials/header.hbs--}}
        <p>This is Home page, write something here.</p>
        <p>{{streamIt welcomeMsg}}</p>
        {{> footer}} {{!--it will call parials/footer.hbs--}}
    </body>
</html>