<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maintenance Page</title>
    </head>
    <body>
        <h1>This is Maintenance page</h1>
        <p>Website is in maintenance mode. Please try after sometime...</p>
    </body>
</html>